* {
    margin: 0;
   
    box-sizing: border-box;
    font-family: "montserrat";
    color: #f4eeee;
   
    
  }
  
  html,body {
    background-color: #000;
    overflow: hidden;
    
   
   
    width: 100%;
  }
  #main{
    
    
    
    max-width: 90%;
    padding: 1em;
    padding-top: 0;
    overflow: hidden;
    padding: 2rem 1rem;
    
  }

   #backgroundGif{
   
      width: 100%; /* Adjust the width as needed */
      height: auto; /* This will maintain the aspect ratio */
      min-height: 100%; /* Limit the maximum height */
      object-fit:cover; /* Cover the container while maintaining the aspect ratio */
      position: fixed;
      z-index: 0;
    
  }
 
  
  
#img1{
  
    height: 8%;
    width: 8%;
    padding:  1%;
    padding-top: 1%;
}
#nav{

    min-height: 5%;
   width:  100%;
    background-color: #121111;
    display: flex;
}
#nav h4{
    font-size: 100%;
  
    padding: 3%;
    
}
#nav h4 a{
    text-decoration: none;
    
    
  
    
    
}
#container1{
  z-index: 1;
 
  
  position: relative;
  max-height: 80vh;
  padding: 1rem 0;

}
#musiccontainer{
  
  z-index: 1;
  background-color: #00000082;
  width: 50vw;
  position: relative;
  max-height: 50vh;
  padding: 1.5rem 0;
  overflow-y: auto; 
}
#startRecognitionButton{
  margin: 1% 0;
  
  color: #000;
  background:linear-gradient(to right,#f0f2f0ee,#b3b4b3de,#767676,#595958);
}
#startRecognitionButton:hover{
  cursor: pointer;
}
#bottom{
  margin: 2% 8%;
  padding: 0 2%;
  border-radius: 2rem ;
  width:90%;
  position:relative;
  height: 3%;
  background-color: #2d2e2d;
 
  display: flex;
  z-index: 2;
 align-items:center;
  justify-content: center;
  color: aliceblue;
  flex-direction: column-reverse;
}
.icons{
  
  padding: 0% 2%;
  cursor: pointer ;
 
}
#progressbar{
  padding: 1% 0;
  z-index: 1;
  object-fit: cover;
  align-items: center;
  width: 90%;
 
}
#progressbar:hover{
  cursor: pointer;

}

.songitem{
  z-index: 1;
  background:linear-gradient(to right,#f0f2f0ee,#b3b4b3de,#767676,#595958);
 
  
  display: flex;
  align-items: center;
  
  justify-content: center;
  flex-direction: row;
  border-radius: 1em;
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem;
  width: 90%;
  height: 2rem;
 

}
.songitem i{
  white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis;
  padding: 0 0.5rem;
  cursor: pointer;
  color: #020202;
  
  
  
}

.secret{cursor: pointer;
  color: #000;
  padding: 0 0;
  white-space: nowrap;  
  overflow: hidden;    
  text-overflow: ellipsis;
  
  
  
  
  
}
.secret:hover{
  color: #f5f1f1;
  
  
  
}


#musiccontainer::-webkit-scrollbar {
  width: 1.5vw; /* Set the width of the scrollbar */
  height: 1vh;
}

#musiccontainer::-webkit-scrollbar-thumb {
  background-color: #9d9c9c; /* Color of the scrollbar thumb */
  border-radius: 4rem; /* Rounded corners for the thumb */
}

#musiccontainer::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color when hovering over the thumb */
}

#musiccontainer::-webkit-scrollbar-track {
   /* Color of the scrollbar track */
  background-color: transparent;
}
